
*{
    font-family: sans-serif;
    /* font-weight: bold; */
    /* background-color: white; */
}
.placemnt{
    padding: 10px 20px;
    /* margin: 10px 0px; */
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 300px;
    height: 50px;
    font-size: medium;
    border: 2px solid #D9D9D9 ;
}
.nav-link{
    color: #ffffff;
    text-decoration: none;
}
.labelInpost{
    padding: 10px 20px;
    /* margin: 10px 0px; */
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 300px;
    height: 50px;
    font-size: medium;
    border: 2px solid #D9D9D9 ;
}
.adminnavbar{
    color: white;


}
.navbar{
    background-color: white;
    display: flex;
    /* width: auto; */
    /* box-shadow: 4px 4px 10px rgb(20, 24, 33); */
    border-radius: 5px;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-content: flex-start;
    /* border: 0px solid rgb(20, 24, 33) ; */
}
.statsNav{
    text-align: center;
    text-decoration: none;
    font-size: 17px;
    /* text-align: left; */
    background-color: #EBEBEB;
    display: grid;
    width: 1250px;
    height: 536px;
    align-content: center;
    vertical-align: middle;
    /* box-shadow: 4px 4px 10px rgb(20, 24, 33); */
    border-radius: 12px;
    /* border: 0px solid rgb(20, 24, 33) ; */
    margin: 30px 30px;
    padding: 20px 20px;
    overflow-x: scroll;
    /* border-radius: 10px; */
}
.adminNav{
    text-align: center;
    text-decoration: solid;
    font-size: 17px;
    /* text-align: left; */
    background-color: #EBEBEB;
    display: grid;
    width: 1050px;
    height: 336px;
    align-content: center;
    vertical-align: middle;
    /* box-shadow: 4px 4px 10px rgb(20, 24, 33); */
    border-radius: 12px;
    /* border: 0px solid rgb(20, 24, 33) ; */
    margin: 30px 30px;
    padding: 20px 20px;
    /* border-radius: 10px; */
}

#navImg{
    margin: 10px 20px 0px 20px;
    height: 100px;
    width: 100px;
    
}

#navH1{
    color: #32557D;
    font-size: 50px;
    
}

.col2{
    justify-content: end;
}

.label{
    font-size: 20px;
    color: rgb(37, 70, 133);
    border-radius: 10px;
    margin: 10px 0px;
}

.labelIn{
    padding: 10px 20px;
    /* margin: 10px 0px; */
    border-radius: 5px;
    background-color: #D9D9D9;
    width: 800px;
    height: 50px;
    font-size: medium;
    border: 2px solid #D9D9D9 ;
}

#enterNumber{
    padding: 10px 60px;
    margin: 10px 0px;
    /* border-radius: 10px; */
    /* border: 2px solid rgb(20, 38, 72); */

}
.fullForm{
    text-align: left;
    max-width: 100%;
    margin: 60px 50px;
    padding: 60px 100px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    color: #32557D;
    overflow-x: scroll;
    /* border: 2px solid rgb(20, 38, 72) ; */
    /* box-shadow: 4px 4px 10px rgb(20, 24, 33); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.fullFormFirst{
    text-align: center;
    margin: 60px 80px;
    padding: 60px 80px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    color: #32557D;
    /* border: 2px solid rgb(20, 38, 72) ; */
    /* box-shadow: 4px 4px 10px rgb(20, 24, 33); */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

#phoneVeri{
    text-align: left;
    font-size: 30px;
    /* margin: 40px 40px; */
}
/* 
form{
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: rgb(37, 70, 133);
    border-radius: 20px;
    margin: 120px 80px;
    padding: 120px 80px;
    border: 2px solid rgb(20, 38, 72) ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    box-shadow: 4px 4px 10px rgb(20, 24, 33);
} */
.formNoti{
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: #32557D;
    border-radius: 20px;
    margin: 20px 10px;
    padding: 10px 10px;
    /* border: 2px solid rgb(20, 38, 72) ; */
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    /* box-shadow: 4px 4px 10px rgb(20, 24, 33); */
}

.formH3{
    font-size: 40px;
    color: #32557D;
    margin: 20px 0px;
    
}


.login{
    padding: 10px 40px;
    margin: 10px 10px;
    display: inline;
    text-align: right;
    background-color: #32557D ;
    border: 1px solid '#32557D';
    border-radius: 15px;
    color: white;
    text-decoration: none;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}

.login:hover{
    background-color:#416792;
}

.otherBtn{
    padding: 10px 40px;
    margin: 10px 10px;
    display: inline;
    text-align: center;
    background-color: #32557D ;
    /* border: 1px solid rgb(66, 115, 150); */
    border-radius: 18px;
    color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    text-decoration:none ;
}

.otherBtn:hover{
    background-color: #32557D;
}


.reset{
    padding: 10px 40px;
    margin: 10px 10px;
    border: 1px solid rgb(216, 71, 71);
    border-radius: 15px;
    display: inline;
    text-align: right;
    background-color: rgb(216, 71, 71);
    color: white;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
}
.reset:hover{
    background-color: rgb(158, 55, 55);
}


.adminForm{

    margin: 40px 10px;
    border-radius: 30px;

}

Table{

    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(245, 245, 245);
}

Table thead{

    background-color: rgb(240, 240, 240);
}

#dropdown{
    /* display: flex; */
    margin-top: -50px;
    float: right;
    padding: 10px 70px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    color: #32557D;
}
#dropdown-cgpa{
    /* display: flex; */
    margin-top: -20px;
    float: left;
    padding: 10px 70px;
    border-radius: 10px;
    background-color: rgb(245, 245, 245);
    color: #32557D;
}

.adminForm{

    text-align: center;
    justify-items: bottom;
}

.h3{
    color: #32557D;
    margin: 40px 20px;

}

