
*{
    font-family: sans-serif;
    font-weight: bold;
}


.navbar{
    background-color: white;
    display: grid;
    box-shadow: 4px 4px 10px rgb(20, 24, 33);
    border-radius: 5px;
    border: 0px solid rgb(20, 24, 33) ;
}

#navImg{
    margin: 10px 20px 0px 20px;
    height: 100px;
    width: 100px;
    grid-row-start: 1;
    grid-row-end: 3;
}

#navH1{
    color: rgb(37, 70, 133);
    grid-row-start: 1;
    grid-row-end: 2;
}


.label{
    font-size: 20px;
    color: rgb(37, 70, 133);
    border-radius: 10px;
    margin: 10px 0px;
}

.labelIn{
    padding: 10px 60px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid rgb(20, 38, 72) ;
}

#enterNumber{
    padding: 10px 60px;
    margin: 10px 0px;
    border-radius: 10px;
    border: 2px solid rgb(20, 38, 72);

}
.fullForm{
    text-align: left;
    margin: 60px 80px;
    padding: 60px 80px;
    border-radius: 20px;
    background-color: rgb(245, 245, 245);
    color: rgb(37, 70, 133);
    border: 2px solid rgb(20, 38, 72) ;
    box-shadow: 4px 4px 10px rgb(20, 24, 33);
}

#phoneVeri{
    text-align: left;
    font-size: 40px;
    margin: 40px 40px;
}

form{
    text-align: center;
    background-color: rgb(245, 245, 245);
    color: rgb(37, 70, 133);
    border-radius: 20px;
    margin: 120px 80px;
    padding: 120px 80px;
    border: 2px solid rgb(20, 38, 72) ;
    box-shadow: 4px 4px 10px rgb(20, 24, 33);
}

.formH3{
    font-size: 50px;
    color: rgb(37, 70, 133);
    margin: 20px 0px;
    text-shadow: 2px 1px 3px;
}


.login{
    padding: 10px 40px;
    margin: 10px 10px;
    display: inline;
    text-align: right;
    background-color: rgb(81, 169, 78) ;
    border: 1px solid rgb(81, 169, 78);
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.login:hover{
    background-color: rgb(62, 125, 60);
}

.otherBtn{
    padding: 10px 40px;
    margin: 10px 10px;
    display: inline;
    text-align: right;
    background-color: rgb(66, 115, 150) ;
    border: 1px solid rgb(66, 115, 150);
    border-radius: 15px;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    text-decoration: none;
}

.otherBbtn:hover{
    background-color: rgb(51, 87, 112);
}


.reset{
    padding: 10px 40px;
    margin: 10px 10px;
    border: 1px solid rgb(216, 71, 71);
    border-radius: 15px;
    display: inline;
    text-align: right;
    background-color: rgb(216, 71, 71);
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.reset:hover{
    background-color: rgb(158, 55, 55);
}


.adminForm{

    margin: 40px 10px;
    border-radius: 30px;

}

Table{

    border: 2px solid rgb(240, 240, 240);
    background-color: rgb(245, 245, 245);
}

Table thead{

    background-color: rgb(240, 240, 240);
}